.header {
  margin-bottom: 8px;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.project-text {
  text-align: start;
  margin-left: 16px;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
}

.header-text {
  margin-left: 48px;
  text-align: start;
  font-size: x-small;
  color: #ffffff60;
  font-family: 'DM Mono';
  font-weight: 600;
}

.description-text {
  margin-left: 48px;
  text-align: start;
  font-size: small;
  color: #ffffff80;
}
