.header {
  margin-bottom: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.project-text {
  text-align: start;
  margin-left: 16px;
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
}

.header-text {
  margin-left: 24px;
  text-align: start;
  color: #ffffff50
}

.description-text {
  margin-left: 24px;
  text-align: start;
  color: #ffffff80;
}
