.keyword-overview-container {
  /* z-index: 10; */
  position: relative;
  bottom: 30%;
  /* top: 10%; */
  left: 4%;
  padding: 20px;
  margin-right: 16px;
  width: 25%;
  min-width: 205px;
  /* height: 36px; */
  border-radius: 4px;
  border-color: #00000020;
  border-width: 2px;
  background-color: #ffffff;
  box-shadow: 2px 4px #00000005;
  /* display: flex; */
  /* flex-direction: row; */
  align-items: left;
}

.keyword-overview-title {
  font-size: small;
}

.keyword-overview-label {
  font-size: x-small;
}

.keyword-overview-list {
  overflow-y: scroll;
  font-size: small;
}
