.keyword-overview-container {
  position: relative;
  bottom: 215px;
  left: 25px;
  padding: 20px;
  margin-right: 16px;
  width: 25%;
  min-width: 210px;
  height: 192px;
  border-radius: 4px;
  border-color: #00000020;
  border-width: 2px;
  background-color: #ffffff;
  box-shadow: 2px 4px #00000005;
  align-items: left;
}

.keyword-overview-title {
  font-size: small;
}

.keyword-overview-label {
  font-size: x-small;
}

.keyword-overview-list {
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: small;
}

.keyword-overview-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.keyword-overview-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
