.list-container {
  height: 100%;
  width: 100%;
}

.section-body {
  background-color: #2a2925;
}

.searchbar-container {
  margin-bottom: 16px;
  background-color: #fcf9f2;
  border-radius: 8px !important;
  padding: 0px;
}

.searchbar {
  margin: 0px;
  padding: 0px !important;
  border-radius: 8px !important;
  background-color: #fcf9f2;
}
