.map-panel-container {
  display: flex;
  flex: 3;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.map {
  height: 70vh;
  width: 100%;
}

/* code below hides logos to match our Figma, but should be removed for non-prototyping purposes */
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-improve-map {
  display: none !important;
}
