img {
  object-fit: contain;
}

.nb-toggle-button {
  flex: 2;
  background-color: #ffffff;
  color: #2A292560;
  border-width: 0px;
  font-size: large;
  margin-right: 16px;
}

.nb-toggle-button:hover {
  color: #2A2925;
  font-weight: bold;
}

.nb-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nb-list-item-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nb-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 9;
}

.nb-list-item-header {
  font-size: small;
  margin-bottom: -6px;
}

.nb-description {
  font-size: x-small;
  margin-bottom: 8px;
}

.nb-dot {
  font-size: medium;
  color: #89867F;
}

.nb-tag-color {
  color: #5F5B51;
}

.nb-date-color {
  color: #89867F;
}
