.nav-container {
  z-index: 9;
  position: absolute;
  top: 5%;
  left: 39.5%;
  width: 20%;
  height: 5%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  transform-origin: bottom left;
  transform: rotate(90deg);
  margin-bottom: -2px;
}

.nav-tab {
  flex: 1;
  border-width: 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.nav-search {
  background-color: #2A2925;
  color: #D7CFBE;
}

.nav-notebook {
  color: #2A2925;
  background-color: #D7CFBE;
}
