.search-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.item-details-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item-header {
  font-size: small;
  color: #ffffff;
  text-align: start;
}

.project-list-item-header {
  font-size: small;
  color: #FFC285;
  text-align: start;
}

.description {
  font-size: x-small;
  margin-bottom: 8px;
  text-align: start;
}

.dot {
  color: #D7CFBE;
  font-size: medium;
}

.tag-color {
  color: #D7CFBE;
}

.date-color {
  color: #B4A88C;
}

.toggle-button {
  background-color: #2a2925;
  color: #D7CFBE40;
  border-width: 0px;
  display: flex;
  flex: 1;
  font-size: x-large;
}

.toggle-button:hover {
  color: #D7CFBE;
  font-weight: bold;
}

.toggle-button-text {
  flex: 1;
}

.tooltiptext {
  flex: 1;
  visibility: hidden;
  width: 120px;
  font-size: x-small;
  font-weight: normal;
  background-color: #D7CFBE;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: relative;
  bottom: 32px;
  left: 50%;
}

.toggle-button:hover .tooltiptext {
  visibility: visible;
}
