.list-item-header {
  font-size: small;
  color: #ffffff;
}

.description {
  font-size: x-small;
}

.dot {
  color: #D7CFBE;
  font-size: medium;
}

.tag-color {
  color: #D7CFBE;
}

.date-color {
  color: #B4A88C;
}
