.list-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.section-body {
  background-color: #2a2925;
}

.searchbar-container {
  margin-bottom: 16px;
  background-color: #fcf9f2;
  border-radius: 8px !important;
  padding: 0px;
}

.searchbar {
  margin: 0px;
  padding: 0px !important;
  border-radius: 8px !important;
  background-color: #fcf9f2;
}

#sort-reports-select {
  color: #B4A88C;
  background-color: #2A2925;
}

#sort-relationships-select {
  color: #B4A88C;
  background-color: #2A2925;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#sort-reports-form {
  display: flex;
  flex: 1;
}

#sort-relationships-form {
  display: flex;
  flex: 1;
}

#time-range-slider {
  color: #B4A88C;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.fieldnotes-mark-label {
  color: #B4A88C !important;
}
