.project-view {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.list-panel-container {
  height: 100%;
  flex: 40;
}

.map-panel-container {
  height: 100%;
  flex: 60;
}